[Desktop Entry]
Version=1.0
Name=Batterij lader
Comment=Een achtergrond proces om de lader te controleren.
Exec=python3 /home/vnctim/.adapter/data.py
Icon=~/.adapter/icon.png
Path=/home/vnctim/.adapter/
Terminal=true
Type=Application
Categories=Utility;Application;
