[Desktop Entry]
Comment[nl_BE]=
Comment=
Exec=python3 ~/.adapter/data.py
GenericName[nl_BE]=Batterij monitor
GenericName=
Icon=exec
MimeType=
Name[nl_BE]=Batterij data
Name=
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
