[Desktop Entry]
Version=1.0
Name=Batterij monitor
Comment=Een applicatie om de data van de batterij monitor weer te geven.
Exec=python3 /home/vnctim/.adapter/gui.py
Icon=~/.adapter/icon.png
Path=/home/vnctim/.adapter/
Terminal=true
Type=Application
Categories=Utility;Application;
