[Desktop Entry]
Version=1.0
Name=Batterij monitor
Comment=Een applicatie om de data van de batterij monitor weer te geven.
Exec=$HOME/.adapter/gui.py
Icon=$HOME/.adapter/icon.png
Path=$HOME/.adapter/
Terminal=true
Type=Application
Categories=Utility;Application;
