[Desktop Entry]
Version=1.0
Name=Batterij daemon
Comment=Een applicatie om de data van de batterij monitor weer te geven.
Exec=adapterctl background -q
Icon=gnome-power-manager
Terminal=false
Type=Application
Categories=Utility;Application;

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0